.source, 
.target input,
.line .shadow,
.measurement{
	font-family: monospace;
	font-size: 24px;
	line-height: 30px;
	height: 30px
}
.measurement {
	position: absolute;
}

.source,
.target input {
	width: 100%;
}

input[type="text"] {
	border: none;
	border-bottom: 1px solid rgba(82, 168, 236, 0.8);
	transition: none;
	border-radius: 0;
	outline: 0;
	box-shadow: none;
	padding: 3px 0;
}

input[type="text"]:focus {
	box-shadow: none;
}

.line {
	position: relative;
}

.line .shadow {
	position: absolute;
	//width: 100%;
	z-index: 2;
	background: #FFF;
	font-weight: bolder;
}
.line .shadow .valid {
	color: #0D0;
}
.line .shadow .invalid {
	color: #D00;
}

.statistics {
	padding: 10px 0;
}

.statistics > .span4 {
	color: #FFFFFF;
	line-height: 50px;
	font-size: 23px;
}
.red {
	background-color: #F15C5C;
}
.green {
	background-color: #08D110;
}
.blue {
	background-color: #1088D8;
}


#myModal.modal {
	width: 400px;
	margin-left: -200px;
	overflow: hidden;
	padding: 5px;
}

#myModal .option {
	width: 100%;
	text-align: center;
	font-size: 30px;
	line-height: 52px;
	border-bottom: 1px solid #7FCA4D;
}

#myModal .option.selected {
	background: #7FCA4D;
	color: #FFF;
}