<!DocType html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/typing.css">
</head>

<body ng-controller="typingCtrl">

	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" on-keydown="modalKeydown($evt)" >
		<div class="option selected" data-dismiss="modal" aria-hidden="true">继续训练</div>
		<div class="option">重新开始</div>
		<div class="option">返回主菜单</div>
	</div>

	<div class="container">
		<div class="row statistics text-center">
			<div class="span4 red">
				正确率：{{statistics.correct}} / {{statistics.typed}} = {{statistics.correctPct | number:0}}%
				</div>
			<div class="span4 green">
				时间：{{statistics.timeElapsedStr}}
			</div>
			<div class="span4 blue">
				速度：{{statistics.speed | number:0}}字 / 分
			</div>
		</div>
		<div ng-repeat="line in lines" class="line">
			<div class="shadow" ng-bind-html-unsafe="line.html"></div>
			<div class="source">
				{{line.text}}
			</div>
			<div class="target">
				<input type="text" on-keydown="handleKeydown($evt, $index);" on-keyup="handleKeyup($evt, $index)" ng-model="line.input" ng-change="validate($index);" ng-trim="false" maxlength="{{line.text.length}}">
			</div>
		</div>
	</div>
	

</body>

<script src="../js/angular1.1.5.min.js"></script>
<script src="../js/jquery-2.0.3.min.js"></script>
<script src="../js/typing-app.js"></script>
<script src="../js/bootstrap.min.js"></script>
</html>